<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <title>
      {{ title || "Flashcards App" }}
    </title>
  </head>
  <body>
    @include('partials/header')
    @include('partials/flash')
    <div class="container">
      {{{ await $slots.main() }}}
    </div>

    @include('partials/footer')
  </body>
</html>
